all:
  children:
    mock-devices:
      hosts:
{% set ns = namespace(port=starting_port | default(6000)) %}
{% for key, device in fakenos_devices.items() %}
{% set network_os = device.vendor ~ '.' ~ device.platform ~ '.' ~ device.platform %}
{% for i in range(1, device.count + 1) %}
        mock-{{ key }}-{{ i }}:
          ansible_connection: network_cli
          ansible_network_os: {{ network_os }}
          ansible_host: 127.0.0.1
          ansible_port: {{ ns.port }}
          ansible_user: admin
          ansible_password: admin
{% set ns.port = ns.port + 1 %}
{% endfor %}
{% endfor %}
